.flair {
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  vertical-align: middle;
  color: #FFF;
  background: url($flairs) top left no-repeat #000;
  position: relative;
  z-index: 10;
  opacity: 0.7;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 2px;
  box-sizing: border-box;

  height: 27px;
  line-height: 27px;
  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  min-width: 52px;
  max-width: 52px;
  text-indent: 60px;
}

.flair:hover {
  opacity: 1.0;
  max-width: 800px !important;
  width: auto !important;
}

// rank xor mastery
.flair[class*="flair-rank-"], .flair[class*="flair-mastery-"] {
  min-width: 77px;
  max-width: 77px;
  text-indent: 85px;
}

%flair-pseudoelement {
  content: "";
  display: block;
  
  position: absolute;
  top: 0px;
  left: 50px;
  width: 25px;
  height: 25px;
}
.flair[class*="flair-rank-"]::before {
  @extend %flair-pseudoelement;
  background-image: url($ranks);
}
.flair[class*="flair-mastery-"]::after {
  @extend %flair-pseudoelement;
  background-image: url($masteries);
}

// rank and mastery
.flair[class*="flair-rank-"][class*="flair-mastery-"] {
  min-width: 102px;
  max-width: 102px;
  text-indent: 110px;
}
.flair[class*="flair-rank-"][class*="flair-mastery-"]::after {
  left: 75px;
}

//flairs
@for $i from 1 through 21 {
  .flair-#{$i} { background-position: 0 (-25px * ($i - 1)); }
}
//ranks
$ranks: 'bronze' 'silver' 'gold' 'platinum' 'diamond' 'master' 'challenger';
@each $rank in $ranks {
  $i: index($ranks, $rank);
  .flair.flair-rank-#{$rank}::before { background-position: 0 (-25px * ($i - 1)); }
}
//masteries
@for $i from 1 through 7 {
  .flair-mastery-#{$i}::after { background-position: 0 (-25px * ($i - 1)); }
}