.flair {
  padding: 0px;
  margin: 0;
  line-height: 25px;
  vertical-align: middle;
  text-align: right;
  color: #FFF;
  background: url(flairs.png) top left no-repeat #000;
  padding-right: 10px;
  position: relative;
  z-index: 10;
  opacity: 0.7;
  min-width:50px;
  overflow: hidden;
  margin-right: 3px;
  text-indent: 60px;
  border: 1px solid #000;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  width: 50px;
  height: 25px;
}

.flair:hover {
  opacity: 1.0;
  width: auto !important;
}

// rank xor mastery
.flair[class*="flair-rank-"], .flair[class*="flair-mastery-"] {
  min-width: 75px;
  width: 75px;
  text-indent: 85px;
}

%flair-pseudoelement {
  content: "";
  display: block;
  
  position: absolute;
  top: -1px;
  left: 49px;
  width: 25px;
  height: 25px;
}
.flair[class*="flair-rank-"]::before {
  @extend %flair-pseudoelement;
  background-image: url(ranks.png);
}
.flair[class*="flair-mastery-"]::after {
  @extend %flair-pseudoelement;
  background-image: url(masteries.png);
}

// rank and mastery
.flair[class*="flair-rank-"][class*="flair-mastery-"] {
  min-width: 100px;
  width: 100px;
  text-indent: 110px;
}
.flair[class*="flair-rank-"][class*="flair-mastery-"]::after {
  left: 74px;
}

//flairs
@for $i from 1 through 21 {
  .flair-#{$i} { background-position: 0 (-25px * ($i - 1)); }
}
//ranks
$ranks: 'bronze' 'silver' 'gold' 'platinum' 'diamond' 'master' 'challenger';
@each $rank in $ranks {
  $i: index($ranks, $rank);
  .flair.flair-rank-#{$rank}::before { background-position: 0 (-25px * ($i - 1)); }
}
//masteries
@for $i from 1 through 7 {
  .flair-mastery-#{$i}::after { background-position: 0 (-25px * ($i - 1)); }
}