$size: 25px;
$pad: 10px;

//@mixin flair-background($background) {
//  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
//  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
//  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
//  background: linear-gradient(to right, red , yellow); /* Standard syntax */
//}

.flair {
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  vertical-align: middle;
  color: #FFF;
  background: url($flairs) 99px 0 repeat-y #000;
  position: relative;
  z-index: 10;
  opacity: 0.7;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 2px;
  //box-sizing: border-box;

  height: $size;
  line-height: $size;
  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  min-width: $size * 2 - $pad;
  width: $size * 2 - $pad;
  text-indent: $size * 2 + $pad;
}

.flair:hover {
  opacity: 1.0;
  width: auto !important;
}

// rank xor mastery
.flair[class*="flair-rank-"], .flair[class*="flair-mastery-"] {
  min-width: $size * 3 - $pad;
  width: $size * 3 - $pad;
  text-indent: $size * 3 + $pad;
}

%flair-pseudoelement {
  content: "";
  display: block;
  background: 99px 0 / #{$size} repeat-y;
  
  position: absolute;
  top: 0;
  left: $size * 2;
  width: $size;
  height: $size;
}
.flair[class*="flair-rank-"]::before {
  @extend %flair-pseudoelement;
  background-image: url($ranks);
}
.flair[class*="flair-mastery-"]::after {
  @extend %flair-pseudoelement;
  background-image: url($masteries);
}

// rank and mastery or
// mastery and prestige
.flair[class*="flair-rank-"][class*="flair-mastery-"],
.flair[class*="flair-mastery-"][class*="flair-prestige-"]{
  min-width: $size * 4 - $pad;
  width: $size * 4 - $pad;
  text-indent: $size * 4 + $pad;
}
.flair[class*="flair-rank-"][class*="flair-mastery-"]::after {
  left: $size * 3;
}

// rank and mastery and prestige
.flair[class*="flair-rank-"][class*="flair-mastery-"][class*="flair-prestige-"] {
  min-width: $size * 5 - $pad;
  width: $size * 5 - $pad;
  text-indent: $size * 5 + $pad;
}

// prestige
@for $i from 1 through 10 {
  .flair-prestige-#{$i}.flair[class*="flair-mastery-"]::after {
    content: if($i >= 10, ($i / 10) + 'M', $i + '00');
    color: #fd0;
    text-indent: 25px;
    text-align: center;
    width: $size * 2;
  }
}

$ranks: unranked bronze 'silver' 'gold' platinum diamond master challenger;
$masteries: 7;
@for $i from 1 through 21 {
  %t-#{$i} { background-position: 0 (-$size * ($i - 1)) !important; }
  .flair-#{$i} { @extend %t-#{$i}; }
  @if $i <= length($ranks)  {
    $rank: nth($ranks, $i);
    .flair-rank-#{$rank}::before { @extend %t-#{$i}; }}
  @if $i <= $masteries { .flair-mastery-#{$i}::after { @extend %t-#{$i}; }}
}