---
flairs:
  - KarmaClassic
  - KarmaOrder
  - KarmaSakura
  - KarmaSunGoddess
  - KarmaTraditional
  - KarmaWarden
  - Karmaz0
  - Karmaz1
  - Karmaz2
  - Karmaz3
  - Karmaz4
  - Karmaz5
  - Karmaz6
  - Karmaz7
masteries: 7
prestiges:
  - 250
  - 500
  - 750
  - 1000
ranks:
  - unranked
  - bronze
  - silver
  - gold
  - platinum
  - diamond
  - master
  - challenger
text: true
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>dynamicflair test page</title>
  <style>
    /* reddit styles */
    body {
      font-family: "Roboto",Helvetica,Arial,"Lucida Grande",sans-serif;
      background-color: #eee;
    }
    .flair {
      font-size: 12px;
      display: inline-block;
    }
    
    th {
      width: 280px;
      height: 80px;
    }
    table {
      table-layout: fixed;
      width: 1px; /* expands anyway */
    }
  </style>
  <link rel="stylesheet" href="compile.css">
</head>

<body>
  <div>
    <img src="spritesheet.png" />
    <img src="ranks.png" />
    <img src="masteries.png" />
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        {% for i in page.flairs %}
          <th>flair-{{ i }}</th>
        {% endfor  %}
      </tr>
    </thead>
    <tbody>
      <!-- NORMAL -->
      <tr>
        <th>none</th>
        {% for i in page.flairs %}
          <td>
            <span class="flair flair-{{ i }}">{% if page.text %}{{ i }}{% endif %}</span>
          </td>
        {% endfor %}
      </tr>
      <!-- PRESTIGE -->
      {% for prestige in page.prestiges %}
        <tr>
          <th>prestige-{{ prestige }}</th>
          {% for i in page.flairs %}
            <td>
              <span class="flair flair-{{ i }} flair-prestige-{{ prestige }}">{% if page.text %}{{ i }} prestige-{{ prestige }}{% endif %}</span>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      <!-- RANK -->
      {% for rank in page.ranks %}
        <tr>
          <th> rank-{{ rank }}</th>
          {% for i in page.flairs %}
            <td>
              <span class="flair flair-{{ i }} flair-rank-{{ rank }}">{% if page.text %}{{ i }} rank-{{ rank }}{% endif %}</span>
            </td>
          {% endfor %}
        </tr>
        {% for prestige in page.prestiges %}
          <tr>
            <th> rank-{{ rank }} prestige-{{prestige}}</th>
            {% for i in page.flairs %}
              <td>
                <span class="flair flair-{{ i }} flair-rank-{{ rank }} flair-prestige-{{ prestige }}">{% if page.text %}{{ i }} rank-{{ rank }} prestige-{{ prestige }}{% endif %}</span>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% endfor %}
      <!-- MASTERY -->
      {% for mastery in (1..page.masteries) %}
        <tr>
          <th> mastery-{{ mastery }}</th>
          {% for i in page.flairs %}
            <td>
              <span class="flair flair-{{ i }} flair-mastery-{{ mastery }}">{% if page.text %}{{ i }} mastery-{{ mastery }}{% endif %}</span>
            </td>
          {% endfor %}
        </tr>
        {% if mastery >= 5 %}
          <!-- PRESTIGE -->
          {% for prestige in page.prestiges %}
            <tr>
              <th> mastery-{{ mastery }} prestige-{{prestige}}</th>
              {% for i in page.flairs %}
                <td>
                  <span class="flair flair-{{ i }} flair-mastery-{{ mastery }} flair-prestige-{{ prestige }}">
                    {% if page.text %}{{ i }} mastery-{{ mastery }} prestige-{{ prestige }}{% endif %}
                  </span>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
      <!-- MASTERY AND RANK -->
      {% for rank in page.ranks %}
        {% for mastery in (1..page.masteries) %}
          <tr>
            <th> rank-{{ rank }} mastery-{{ mastery }}</th>
            {% for i in page.flairs %}
              <td>
                <span class="flair flair-{{ i }} flair-rank-{{ rank }} flair-mastery-{{ mastery }}">{% if page.text %}{{ i }} rank-{{ rank }} mastery-{{ mastery }}{% endif %}</span>
              </td>
            {% endfor %}
          </tr>
          {% if mastery >= 5 %}
            <!-- PRESTIGE -->
            {% for prestige in page.prestiges %}
              <tr>
                <th> rank-{{ rank }} mastery-{{ mastery }} prestige-{{prestige}}</th>
                {% for i in page.flairs %}
                  <td>
                    <span class="flair flair-{{ i }} flair-rank-{{ rank }} flair-mastery-{{ mastery }} flair-prestige-{{ prestige }}">
                      {% if page.text %}{{ i }} rank-{{ rank }} mastery-{{ mastery }} prestige-{{ prestige }}{% endif %}
                    </span>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</body>
</html>