$size: 25px;
$ratio: 2;
$masteryPad: 5px;
$masterySize: 70px;
$pad: 10px;

.flair {
  //white-space: nowrap;
  padding: 0 $pad 0 0;
  margin: 0 $pad 0 0;
  vertical-align: middle;
  color: #FFF;
  background: url($flairs) repeat-y 0 (-$size) #272727;
  position: relative;
  z-index: 10;
  //opacity: 0.7;
  overflow: hidden;
  border: 1px solid #272727;
  border-radius: 2px;
  //box-sizing: border-box;

  height: $size;
  line-height: $size;
  

  width: auto;
  min-width: $size * $ratio - $pad;
  //width: $size * $ratio - $pad;
  text-indent: $size * $ratio + $pad;
}

// rank xor mastery xor prestige
.flair[class*="flair-rank-"], .flair[class*="flair-mastery-"], .flair.flair-masteryText {
  min-width: $size + $size * $ratio - $pad;
  //width: $size + $size * $ratio - $pad;
  text-indent: $size + $size * $ratio + $pad;
}
.flair.flair-masteryText {
  text-indent: $size * $ratio + $masteryPad;
}

%flair-pseudoelement {
  content: "";
  display: block;
  background: 99px 0 / #{$size} repeat-y;
  
  position: absolute;
  top: 0;
  left: $size * $ratio;
  width: $size;
  height: $size;
}
.flair[class*="flair-rank-"]::before {
  @extend %flair-pseudoelement;
  background-image: url($ranks);
}
.flair[class*="flair-mastery-"]::after {
  @extend %flair-pseudoelement;
  background-image: url($masteries);
}
.flair.flair-masteryText::after {
  @extend %flair-pseudoelement;
}

// rank and mastery or
// mastery and prestige or
// rank and prestige
.flair[class*="flair-rank-"][class*="flair-mastery-"] {
  min-width: $size * 2 + $size * $ratio - $pad;
  //width: $size * 2 + $size * $ratio - $pad;
  text-indent: $size * 2 + $size * $ratio + $pad;
}
.flair[class*="flair-mastery-"].flair-masteryText,
.flair[class*="flair-rank-"].flair-masteryText {
  min-width: $size * 2 + $size * $ratio - $pad;
  //width: $size * 2 + $size * $ratio - $pad;
  text-indent: $size + $size * $ratio + $masteryPad;
}
.flair[class*="flair-rank-"][class*="flair-mastery-"]::after,
.flair[class*="flair-rank-"].flair-masteryText::after {
  left: $size + $size * $ratio;
}

// rank and mastery and prestige
.flair[class*="flair-rank-"][class*="flair-mastery-"].flair-masteryText {
  min-width: $size * 3 + $size * $ratio - $pad;
  //width: $size * 3 + $size * $ratio - $pad;
  text-indent: $size * 2 + $size * $ratio + $masteryPad;
}

// prestige
.flair.flair-masteryText::after {
  content: attr(title);
  color: #fd0;
  text-align: left;
  text-indent: $masteryPad;
  width: 0;
}
.flair.flair-masteryText[class*="flair-mastery-"]::after {
  text-indent: $size + $masteryPad;
  width: $size;
}

$colors: #ff574d #fc30e0 #27e0d7;
@for $i from 5 through 7 {
  .flair.flair-masteryText.flair-mastery-#{$i}::after {
    color: nth($colors, $i - 4);
  }
}

$flairs: ViktorClassic ViktorCreator ViktorFullMachine ViktorPrototype
  Viktorz0 Viktorz1-0 Viktorz1-1 Viktorz1-2 Viktorz1-3 Viktorz2-0 /*Viktorz2-1*/ Viktorz2-2
  Viktorz3-0 Viktorz3-1 Viktorz4-0 Viktorz4-1 Viktorz5-0 /*Viktorz5-1*/ Viktorz5-2
  ItemLichBane ItemRylais;
$ranks: unranked bronze 'silver' 'gold' platinum diamond master challenger;
$masteries: 7;
@for $i from 1 through length($flairs) {
  %t-#{$i} { background-position: 0 (-$size * ($i - 1)) !important; }
  $flair: nth($flairs, $i);
  .flair-#{$flair} { @extend %t-#{$i}; }
  @if $i <= length($ranks)  {
    $rank: nth($ranks, $i);
    .flair-rank-#{$rank}::before { @extend %t-#{$i}; }}
  @if $i <= $masteries { .flair-mastery-#{$i}::after { @extend %t-#{$i}; }}
}
